/* Signup Container styling */
.signup{
  background-color: #fce3fe;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}
.signup-container {
  max-width: 580px; /* Adjust container width as needed */
  height: auto;
  margin: 0 auto;
  padding: 40px 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: linear-gradient(180deg, #fde1ff 0%,white 60%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Signup Form styling */
.signup-form {
  display: flex;
  flex-direction: column;
}

/* Signup Input field styling */
.signup-input {
  margin-bottom: 20px; /* Increase the margin to create more space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.signup-input:focus {
  border-color: #007bff;
}

/* Signup Error message styling */
.signup-error {
  color: #dc3545;
  font-size: 14px;
}

.signup-container button{

  color: white;
  background: #ff4141;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.signup-container a{
  color: #ff4141;
}